#LOOPS

In [2]:
#range(start,stop,step)

range(0, 10, 2)

In [3]:
for i in range (10):
    print ("Hello World")

Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World

In [6]:
#print 1 to 5
n=5
for i in range (1,n+1,1):
    print (i)

1
2
3
4
5

In [8]:
#Sum of natural numbers
s=0
n=5
for i in range (1,n+1):
    s=s+i
print (s)

15

In [10]:
#factorial numbers
s=1
n=5
for i in range (1,n+1):
    s=s*i
print (s)

120

In [11]:
#Table of 2
s=2
n=10
for i in range (1,n+1):
    print (2,"X",i,"=",2*i)

2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18
2 X 10 = 20

In [18]:
#Print * * * from loops in 3 rows
s=1
n=3
for i in range (1,n+1):
    print ("* ","* ","* ")

*  *  *
*  *  *
*  *  *

In [13]:
#Print * * * from loops in 3 rows through nested loops
for i in range (3):
    for j in range(3):
        print ("*", end=" ")
    print()

* * *
* * *
* * *

In [17]:
#print the * in right angled triangle
for i in range (1,5):
    for j in range (i):
        print ("*",end =" ")
    print()

*
* *
* * *
* * * *

In [26]:
# print the * in isoceles triangle
n=4
for i in range (0,n):
    for j in range (n-i-1):
        print(end=" ")
    for k in range (i+1):
        print("*", end=" ")
    print()

   *
  * *
 * * *
* * * *

In [29]:
# print the * in isoceles triangle - in opposite
n=4
for i in range (n,0,-1):
    for j in range (n-i):
        print(end=" ")
    for k in range (i):
        print("*", end=" ")
    print()

* * * *
 * * *
  * *
   *

In [31]:
# print the * in diamond - two isoceles triangle added
n=4
for i in range (0,n):
    for j in range (n-i-1):
        print(end=" ")
    for k in range (i+1):
        print("*", end=" ")
    print()
for i in range (n-1,0,-1):
    for j in range (n-i):
        print(end=" ")
    for k in range (i):
        print("*", end=" ")
    print()

   *
  * *
 * * *
* * * *
 * * *
  * *
   *

In [40]:
# print the * in letter A
for row in range (7):
    for column in range(5):
        if row!=0 and (column == 0 or column == 4):
            print ("*", end="")
        elif (row==0 or row ==3) and (column>0 and column<4):
            print ("*", end="")
        else:
            print (end=" ")
    print()

 ***
*   *
*   *
*****
*   *
*   *
*   *

In [38]:
# print the * in letter B
for row in range (7):
    for column in range (5):
        if ((row!=0 and row!=6) and column==0) or ((row==0 or row==3 or row==6) and (column>0 and column<4)) or ((row!=0 and row!=3 and row!=6) and column==4):
            print("*", end="")
        else:
            print (end=" ")
    print()

 ***
*   *
*   *
****
*   *
*   *
 ***

In [39]:
# print the * in letter C
for row in range (7):
    for column in range (5):
        if ((row!=0 and row!=6) and column==0) or ((row==0 or row==6) and (column>0 and column<=4)):
            print("*", end="")
        else:
            print (end=" ")
    print()

 ****
*
*
*
*
*
 ****

In [42]:
# print the * in letter D
for row in range (7):
    for column in range (5):
        if (column==0) or (column-row==1) or (row+column==7):
            print("*", end="")
        else:
            print (end=" ")
    print()

**
* *
*  *
*   *
*  *
* *
**

In [43]:
# print the * in letter E
for row in range (7):
    for column in range (5):
        if (column==0) or (row==0 or row==3 or row==6):
            print("*", end="")
        else:
            print (end=" ")
    print()

*****
*
*
*****
*
*
*****

# print the * in letter F
for row in range (7):
    for column in range (5):
        if (column==0) or (row==0 or row==3):
            print("*", end="")
        else:
            print (end=" ")
    print()

In [49]:
# print the * in letter G
for row in range (7):
    for column in range (8):
        if (column==0) or (row==0) or (row==6 and column<=4) or (row==3 and (column==5 or column==6)) or (row>=3 and (column==4 or column==7)):
            print("*", end="")
        else:
            print (end=" ")
    print()

********
*
*
*   ****
*   *  *
*   *  *
*****  *

In [50]:
# print the * in letter H
for row in range (7):
    for column in range (5):
        if (column==0 or column==4) or (row==3):
            print("*", end="")
        else:
            print (end=" ")
    print()

*   *
*   *
*   *
*****
*   *
*   *
*   *

In [ ]:
# print the * in letter K
for row in range (7):
    for column in range (5):
        if (column==0 or column==4) or (row==3):
            print("*", end="")
        else:
            print (end=" ")
    print()

In [51]:
pwd

'C:\\Users\\Anmol\\Python class'